<%- include('../partials/header.ejs')%>

    <div class="content">
        <form action="/events/<%= event.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label for="formTopic" class="col-sm-2 col-form-label">Topic</label>
                <div class="col-sm-10">
                    <select class="form-control" id="formTopic" name="topic" required>
                        <option value="" <%=event.topic==="" ? 'selected' : '' %>>Select a Topic</option>
                        <option value="Education" <%=event.topic==="Education" ? 'selected' : '' %>>Education</option>
                        <option value="Free stuff" <%=event.topic==="Free stuff" ? 'selected' : '' %>>Free stuff
                        </option>
                        <option value="Fun" <%=event.topic==="Fun" ? 'selected' : '' %>>Fun</option>
                        <option value="Other" <%=event.topic==="Other" ? 'selected' : '' %>>Other</option>
                    </select>
                </div>
            </div>

            <!-- Repeat the following blocks for other form fields -->
            <div class="row mb-3">
                <label for="formTitle" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="formTitle" placeholder="Title" name="title"
                        value="<%= event.title %>" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="formDescription" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="formDescription" rows="3" name="description"
                        required><%= event.description %></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label for="formStartTime" class="col-sm-2 col-form-label">Start</label>
                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" name="startTime" id="formStartTime"
                        value="<%= event.startTime.toISO() %>" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="formEndTime" class="col-sm-2 col-form-label">End</label>
                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" name="endTime" id="formEndTime"
                        value="<%= event.endTime.toISO() %>" required>
                </div>
            </div>
            <!-- Repeat for other form fields -->

            <div class="row mb-3">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <%- include('../partials/footer.ejs')%>